{%extends 'base.html'%}
{%load static%}
{%block title%}<title>Fitwell - Signup</title>{%endblock%}
{%block static%}<link rel="stylesheet" href="{%static 'assets/css/sign-up.css' %}">{%endblock%}
{%block content%}
<section>
    <div class="container">
        <div class="image-bg" id="img">
        </div>
        <div class="main">
            <div class="logo">
                <img src="{%static 'assets/images/logo.svg'%}">
                <span>FITWELL</span>
            </div>
            <p class="blue-text">Create your account</p>
            <form action="" method="POST" id="msform">
                {%csrf_token%}
                <div>
                    <ul class="progressbar">
                        <li class="active">About you</li>
                        <li id="step1">Almost done</li>
                        <li id="step2">Great</li>
                    </ul>
                </div>
                <fieldset>
                    <div class="row">
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input name="first_name" type="text" id="fname">
                        </div>
                        <div class="form-group">
                            <label for=" lname">Last Name</label>
                            <input name="last_name" type="text" id="lname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for=" email">Email</label>
                            <input name="email" type="email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="number">Phone Number</label>
                            <input name="phone" type="tel" id="number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="date">Date of birth</label>
                            <input name="dob" type="date" id="date">
                        </div>
                        <div class="form-group">
                            <label for=" sex">Sex</label>
                            <select name="sex" id="sex">
                                <option selected>Select your gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="next1" class="next btn ">Next</button>
                    </div>
                </fieldset>

                <fieldset>
                    <div>
                        <div class="row">
                            <div class="form-group">
                                <label for="nationality">Nationality</label>
                                <select name="nationality" id="nationality">
                                    <option selected>Select your nationality</option>
                                    <option value="nigeria">Nigeria</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <select name="state" id="state">
                                    <option selected>Select your State</option>
                                    <option value="lagos">Lagos</option>
                                    <option value="abuja">Abuja</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class=" fieldlabel" for="height">Height(in cm)</label>
                                <input name="height" type="number" id="height">
                            </div>
                            <div class="form-group">
                                <label for=" weight">Weight(in Kg)</label>
                                <input name="weight" type="number" id="weight">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="next2" class="next btn text-right">Next</button>
                    </div>
                </fieldset>

                <fieldset>
                    <div>
                        <div class="row">
                            <div class="form-group">
                                <label class=" fieldlabel" for="pword1">Password</label>
                                <input name="password1" type="password" id="pword1">
                            </div>
                            <div class="form-group">
                                <label for=" pword2">Repeat password</label>
                                <input type="password2" id="pword2">
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="squestion">Security question</label>
                            <select id="squestion">
                                <option selected>Enter security question</option>
                                <option value="name">What is your name</option>
                                <option value="friend">Who is your best friend</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="squestionanswer">Answer to security question</label>
                            <input name="security_answer" type="text" id="squestionanswer">
                        </div>

                    </div>
                    <div>
                        <button type="submit" class="btn">Create account</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>
</section>
{%endblock%}