<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Workout Plan List: {{object}}
<p>
<p>User Name: {{object.user.first_name}}  </p>
<p>email: {{object.user.email}}  </p>
<p> Plan: {{object.workout_plan.plan}}</p>
<p> duration: {{object.workout_plan.duration}} weeks</p>
<p> daily_routine: {{object.workout_plan.daily_duration}} mins</p>
<p> Total Routines: {{object.workout_plan.routines.count}}</p>
<p>
    {% for routine in object.workout_plan.routines.all %}
        <ul>
            {{ routine.routine_name}} -- {{ routine.repetition_no }} reps everyday
        </ul>
    {% endfor %}

</p>
<hr>
<h2>Change workout plan here </h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
    </form>

</p>
</body>
</html>