<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/images/favicon.svg' %}">
    <title>Fitwell - Signup</title>
     <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/sign-up.css' %}">

</head>

<body>
    <section>
        <div class="container">
            <div class="image-bg" id="img">
            </div>
            <div class="main">
                <div class="logo">
                    <a href="{% url 'home' %}">
                       <img src="{% static '/images/logo.svg' %}">
                    </a>

                    <span>FITWELL</span>
                </div>
                <p class="blue-text">Create your account</p>

                         {% if message %}
                <div style="text-align: left; background-color: #cfc; color:red; margin-left: 20%; margin-right: 20%; padding: 1em" >

                        <!--<h3> Signup Failed due to the error(s) below</h3>-->
                            <p></p><br>
                            {% autoescape off %}
                            {{ message }}
                            {% endautoescape %}
                            <!--{% for data in  message %}-->
                                <!--<p>-->
                                    <!--{{ data }} <br>-->
                                <!--</p>-->
                            <!--{% endfor %}-->
                    <p></p><br>
                    <!--<p>Please provide all required information above and try again.</p>-->

                </div>
                {% endif %}
                <br><br>


                <form action="" id="msform"  method="post">
                    {% csrf_token %}
                    {{ form }}

                    <div>
                        <button type="submit"  class="btn">update</button>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </section>
    <script src="{% static '/js/signup.js' %}"></script>
</body>

</html>